<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Data submitted!!</h2>
    <p th:text="|ID generated = ${id}|">id</p>
    <p th:text="|Name entered = ${nameEntered}|">Name entered</p>
    <p th:text="|Email entered = ${emailEntered}|">Email entered</p>
    <p th:text="|Phone entered = ${phoneEntered}|">Phone entered</p>
</body>
</html>